<div class="container-fluid text-center">
    <div class="container">
        <div class="container text-center">
                <div>
                    <img src="{{myClass.avatar_url}}" alt="">
                </div>
            
                <div class="bg-standard">
                    <h4>{{myClass.login}}</h4>
                    <p>{{myClass.bio}}</p>
                </div>
        </div>
    </div>
    <div class="jumbotron">
        <h1 class="display-4">GitHub Seach</h1>
        <p class="lead">Search for git hub users and see their details and repositories in real time.</p>
        <hr class="my-4">
        <p>Type in the serch box</p>
      </div>
</div>
